@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*{
    font-family: 'Roboto Mono', monospace;
    padding: 0;
    margin: 0;
}

body{
    background: conic-gradient(from 90deg at bottom right, cyan, rebeccapurple) no-repeat;
    overflow: hidden;
}

.main-container{
    text-align: center;
    height: 100vh;
    width: 80%;
    margin: auto;
    
}

.checklist{
    width: 800px;
    min-height: 100vh;
    margin: auto;
    background-color: whitesmoke;
    box-shadow: 10px 10px 25px 0 rgba(0, 0, 0, 0.5);
    color: rebeccapurple
}

.checklist h1{
    font-size: 3rem;
    margin-top: 3px;
    color: rebeccapurple;
    padding-top: 10px;
}

.checklist input{
    font-size: 1.7rem;
    width: 80%;
    text-align: center;
    border-radius: 4px;
}

i{
    font-size: 2rem;
    padding: 7px;
}

i:hover{
    background-color: rgba(0, 0, 0, 0.295);
    padding: 5px;
    border: black 2px solid;
    border-radius: 4px;
    cursor: pointer;
}

#items{
    font-size: 1.5rem;
    color: black;
    padding: 1px;
    margin-top: 15px;
}

h2{
    text-align: start;
    margin-left: 75px;
    margin-right: 75px;
}

h2:hover{
    background-color: rgba(102, 51, 153, 0.062);
    border-radius: 4px;
    cursor: pointer;
}

.devguicordeirofooter {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 3vh;
    width: 100%;
    font-size: 20px;
    color:rebeccapurple
  }
  
  .fa-github {
    color: rebeccapurple;
    font-size: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .fa-github:hover {
    transform: rotate(360deg) scale(1.3);
  }